{{- define "stackstate.k2es.deployment.traceEventsToEs.container" -}}
args:
{{- include "stackstate.service.args" . }}
- trace-events
name: trace2es
volumeMounts:
{{- include "stackstate.service.container.volumes" . }}
{{- end -}}

{{- define "stackstate.k2es.traceEventsToEs.deployment" -}}
{{- $commonContainer := fromYaml (include "common.container" .) -}}
{{- $trace2esConfig := dict "K2esName" "trace2es" "K2esConfig" .Values.stackstate.components.trace2es }}
{{- $commonKafkaToEsContainer := fromYaml (include "stackstate.k2es.deployment.common.container" (merge $trace2esConfig .)) -}}
{{- $commonKafkaToEsInitContainer := fromYaml (include "stackstate.k2es.deployment.common.initcontainer" .) -}}
{{- $traceEventsToEsContainer := fromYaml (include "stackstate.k2es.deployment.traceEventsToEs.container" .) -}}

metadata:
  name: {{ template "common.fullname.short" . }}-trace2es
  labels:
    app.kubernetes.io/component: trace2es
spec:
  replicas: {{ .Values.stackstate.components.trace2es.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/component: trace2es
  template:
    metadata:
      annotations:
        {{- include "common.metrics.annotations" (dict "metrics" .Values.stackstate.components.all.metrics "port" "9404" "container_name" "trace2es") | indent 8 }}
        {{- include "stackstate.common.secret.checksum" . | nindent 8 }}
        {{- include "stackstate.trace2es.secret.checksum" . | nindent 8 }}
      labels:
        app.kubernetes.io/component: trace2es
    spec:
      {{- include "stackstate.image.pullSecret.name" . | nindent 6 }}
      initContainers:
      - {{ toYaml (merge $commonKafkaToEsInitContainer $commonContainer) | nindent 8 }}
      containers:
      - {{ toYaml (merge $traceEventsToEsContainer $commonKafkaToEsContainer $commonContainer) | nindent 8 }}
      volumes:
        {{- include "stackstate.service.pod.volumes" (dict "pod_name" "trace2es" "root" . ) | nindent 8 }}
    {{- if or .Values.stackstate.components.all.nodeSelector .Values.stackstate.components.trace2es.nodeSelector }}
      nodeSelector:
      {{- with .Values.stackstate.components.all.nodeSelector }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stackstate.components.trace2es.nodeSelector }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- if or .Values.stackstate.components.all.affinity .Values.stackstate.components.trace2es.affinity }}
      affinity:
      {{- with .Values.stackstate.components.all.affinity }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stackstate.components.trace2es.affinity }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- if or .Values.stackstate.components.all.tolerations .Values.stackstate.components.trace2es.tolerations }}
      tolerations:
      {{- with .Values.stackstate.components.all.tolerations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stackstate.components.trace2es.tolerations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- if .Values.stackstate.components.all.securityContext.enabled }}
      securityContext: {{- omit .Values.stackstate.components.all.securityContext "enabled" | toYaml | nindent 8 }}
    {{- end }}
{{- end -}}

{{- if .Values.stackstate.components.trace2es.enabled }}
{{- $commonDeployment := fromYaml (include "common.deployment" .) -}}
{{- $k2esTraceEventsToEsDeployment := fromYaml (include "stackstate.k2es.traceEventsToEs.deployment" .) -}}
{{- toYaml (merge $k2esTraceEventsToEsDeployment $commonDeployment) -}}
{{- end -}}
