{{- define "stackstate.receiver.deployment.container.init" -}}
name: receiver-init
command:
- sh
- -c
- |
  /entrypoint -c {{ include "stackstate.kafka.endpoint" . }} -t 300
image: "{{include "stackstate.wait.image.registry" .}}/{{ .Values.stackstate.components.wait.image.repository }}:{{ .Values.stackstate.components.wait.image.tag }}"
{{- end -}}

{{- define "stackstate.receiver.deployment.container.main" -}}
env:
{{- $serviceConfig := dict "ServiceName" "receiver" "ServiceConfig" .Values.stackstate.components.receiver }}
{{- include "stackstate.service.envvars" (merge $serviceConfig .) }}
- name: KAFKA_BROKERS
  value: {{ include "stackstate.kafka.endpoint" . | quote }}
- name: API_KEY
  valueFrom:
    secretKeyRef:
      name: {{ template "common.fullname.short" . }}-receiver
      key: sts-receiver-api-key
image: "{{ include "stackstate.image.registry" . }}/{{ .Values.stackstate.components.receiver.image.repository }}{{ .Values.stackstate.components.all.image.repositorySuffix }}:{{ default .Values.stackstate.components.all.image.tag .Values.stackstate.components.receiver.image.tag }}"
imagePullPolicy: {{ default .Values.stackstate.components.all.image.pullPolicy .Values.stackstate.components.receiver.image.pullPolicy | quote }}
name: receiver
args:
- -Dlogback.configurationFile=/opt/docker/etc_log/logback.groovy
volumeMounts:
- name: config-volume-log
  mountPath: /opt/docker/etc_log
ports:
- containerPort: 1618
  name: health
- containerPort: 7077
  name: receiver
{{- if .Values.stackstate.components.all.metrics.enabled }}
- containerPort: 9404
  name: metrics
{{- end }}
livenessProbe:
  httpGet:
    path: /liveness
    port: health
  initialDelaySeconds: 30
  timeoutSeconds: 5
readinessProbe:
  httpGet:
    path: /readiness
    port: health
  initialDelaySeconds: 30
  timeoutSeconds: 5
{{- with .Values.stackstate.components.receiver.resources }}
resources:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- if .Values.stackstate.components.all.securityContext.enabled }}
securityContext: {{- omit .Values.stackstate.components.all.securityContext "enabled" | toYaml | nindent 2 }}
{{- end }}
{{- end -}}

{{- define "stackstate.receiver.deployment" -}}
{{- $commonContainer := fromYaml (include "common.container" .) -}}
{{- $overrideContainer := fromYaml (include "stackstate.receiver.deployment.container.main" .) -}}
{{- $stsstackstateReceiverMainContainer := (merge $overrideContainer $commonContainer) -}}
{{- $overrideContainer := fromYaml (include "stackstate.receiver.deployment.container.init" .) -}}
{{- $stsstackstateReceiverInitContainer := (merge $overrideContainer $commonContainer) -}}
metadata:
  name: {{ template "common.fullname.short" . }}-receiver
  labels:
    app.kubernetes.io/component: receiver
spec:
  replicas: {{ .Values.stackstate.components.receiver.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/component: receiver
  template:
    metadata:
      annotations:
        {{- include "common.metrics.annotations" (dict "metrics" .Values.stackstate.components.all.metrics "port" "9404" "container_name" "receiver") | indent 8 }}
        {{- include "stackstate.common.secret.checksum" . | nindent 8 }}
        {{- include "stackstate.receiver.secret.checksum" . | nindent 8 }}
      labels:
        app.kubernetes.io/component: receiver
    spec:
      {{ include "stackstate.image.pullSecret.name" . | nindent 6 }}
      initContainers:
      - {{ toYaml $stsstackstateReceiverInitContainer | nindent 8 }}
      containers:
      - {{ toYaml $stsstackstateReceiverMainContainer | nindent 8 }}
      volumes:
        - name: config-volume-log
          configMap:
            name: {{ template "common.fullname.short" . }}-receiver-log
    {{- if or .Values.stackstate.components.all.nodeSelector .Values.stackstate.components.receiver.nodeSelector }}
      nodeSelector:
      {{- with .Values.stackstate.components.all.nodeSelector }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stackstate.components.receiver.nodeSelector }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- if or .Values.stackstate.components.all.affinity .Values.stackstate.components.receiver.affinity }}
      affinity:
      {{- with .Values.stackstate.components.all.affinity }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stackstate.components.receiver.affinity }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- if or .Values.stackstate.components.all.tolerations .Values.stackstate.components.receiver.tolerations }}
      tolerations:
      {{- with .Values.stackstate.components.all.tolerations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stackstate.components.receiver.tolerations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
{{- end -}}

{{- $commonDeployment := fromYaml (include "common.deployment" .) -}}
{{- $receiverDeployment := fromYaml (include "stackstate.receiver.deployment" .) -}}
{{- toYaml (merge $receiverDeployment $commonDeployment) -}}
