image: ubuntu:18.04

stages:
  - lint-charts

run-helm-lint:
  only:
    refs:
      - master
  image: gcr.io/kubernetes-charts-ci/test-image:v3.3.2
  stage: lint-charts
  script:
    - git remote add stackstate-helm https://oauth2:${GITLAB_ACCESS_TOKEN}@gitlab.com/stackvista/devops/helm-charts
    - git fetch stackstate-helm
    - ct lint --config test/ct.yaml
