### Helm ###
# Chart dependencies
**/charts/*.tgz
**/cluster-agent/**/*.tar.gz
**/stackstate-agent/**/*.tar.gz
.idea/*
*.swp
.DS_Store
.jsonnet-libs/example.json
__pycache__

# IDE
.vscode
*.iml

util/**/*.json
