exclude: 'gitlab-runner|^(jsonnet-)?vendor/'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: detect-private-key
  - id: end-of-file-fixer
    exclude: stable/.*/README.md|.*/test_data/.*
  - id: trailing-whitespace
    exclude: .*/test_data/.*
  - id: detect-aws-credentials
    args:
    - --allow-missing-credentials
- repo: https://github.com/gruntwork-io/pre-commit
  rev: v0.1.21
  hooks:
  - id: helmlint
  - id: shellcheck
#- repo: https://github.com/kadrach/pre-commit-gitlabci-lint
#  rev: 22d0495c9894e8b27cc37c2ed5d9a6b46385a44c
#  hooks:
#  - id: gitlabci-lint
- repo: https://github.com/norwoodj/helm-docs
  rev: v1.11.0
  hooks:
  - id: helm-docs-built
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.23.0
  hooks:
    - id: check-jsonschema
      files: ^stable/stackstate-monitoring/grafana-dashboards/.*/.*\.json$
      args: ["--schemafile", "stable/stackstate-monitoring/dashboard-schema.json"]
    - id: check-metaschema
      files: stable/stackstate-monitoring/dashboard-schema.json
- repo: git@gitlab.com:stackvista/devops/pre-commit-hooks.git
  rev: v1.0.10
  hooks:
  - id: jsonnet_format
  - id: jsonnet_to_yaml
    name: GitLab CI JSONnet to YAML
    args:
    - --only=./.gitlab-ci.jsonnet
    files: '.*\.(j|lib)sonnet$|.json$'
  - id: jsonnet_to_json
    name: Grafana Dashboards JSONnet to JSON
    args:
    - --ignore=.gitlab-ci.jsonnet
    - --ignore=test/ct.jsonnet
    - --ignore=jsonnet-vendor
    - --jpath=jsonnet-vendor/github.com/grafana
    - --jpath=jsonnet-vendor/gitlab.com/stackvista/devops

default_language_version:
  python: python3
