{{- $commonContainer := fromYaml (include "common.container" .) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "common.fullname.short" . }}-kafkaup
  namespace: {{.Release.Namespace}}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: kafka
    {{- include "kafkaup-operator.commonLabels" . | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalue.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ default 1 .Values.replicaCount | int }}
  selector:
    matchLabels:
      app: {{ include "common.fullname.short" . }}-kafkaup
{{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
{{- end }}
  template:
    metadata:
      labels:
        app: {{ include "common.fullname.short" . }}-kafkaup
        {{- include "kafkaup-operator.commonLabels" . | nindent 8 }}
      annotations:
        {{ include "kafkaup-operator.checksum-configs" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "common.fullname.short" . }}-kafkaup
      {{- include "kafkaup.image.pullSecret.name" . | nindent 6 }}
      containers:
      - name: kafkaup-operator
        image: "{{ include "common.image.registry" (dict "image" .Values.image "context" .) }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
        - start
        - --namespace
        - {{ .Release.Namespace }}
        - -vv
        securityContext:
          {{- $commonContainer.securityContext | toYaml | nindent 10 }}
        volumeMounts:
        - name: kafkaup-config-volume
          mountPath: /conf.d
{{- $sizingResources := include "common.sizing.kafkaup-operator.resources" . | trim }}
{{- $resources := .Values.resources }}
{{- if $sizingResources }}
{{- $resources = fromYaml $sizingResources }}
{{- end }}
        resources:
{{ toYaml $resources | indent 10 }}
{{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
{{- end }}
{{- $sizingAffinity := include "common.sizing.kafkaup-operator.affinityConfig" . | fromYaml -}}
{{- $finalAffinity := .Values.affinity | default dict -}}
{{- if and (not .Values.affinity) $sizingAffinity -}}
  {{- $finalAffinity = $sizingAffinity -}}
{{- end -}}
{{- if $finalAffinity }}
      affinity: {{- include "common.tplvalues.render" (dict "value" $finalAffinity "context" $) | nindent 8 }}
{{- end }}
{{- if .Values.securityContext.enabled }}
      securityContext: {{- omit .Values.securityContext "enabled" | toYaml | nindent 8 }}
{{- end }}
      volumes:
      - name: kafkaup-config-volume
        configMap:
          name: {{ template "common.fullname.short" . }}-kafkaup-config
