{{- define "stackstate.server.configmap-log" -}}
metadata:
  name: {{ template "common.fullname.short" . }}-server-log
data:
  logback.xml: |
{{- $logging := printf "%s\n%s\n%s" (include "stackstate.configmap.server-base-log" .) (include "stackstate.configmap.sync-log" .) (include "stackstate.configmap.stackpack-log" .) .Values.stackstate.components.server.additionalLogging -}}
{{- include "stackstate.configmap.microservices-log" (merge (dict "RootLevel" "WARN" "AdditionalLogging" $logging) .) | nindent 4 -}}
{{- end -}}

{{- if not .Values.stackstate.experimental.server.split }}
{{- $commonConfigMap := fromYaml (include "common.configmap" .) -}}
{{- $stackstateServerLogConfigMap := fromYaml (include "stackstate.server.configmap-log" .) -}}
{{- toYaml (merge $stackstateServerLogConfigMap $commonConfigMap) -}}
{{- end -}}
