{{- define "stackstate.api.deployment.container.init" -}}
name: server-init
{{- $deploymentMode := include "suse-observability.hbase.deploymentMode" . -}}
{{- if eq $deploymentMode "Distributed" }}
command:
- sh
- -c
- |
  /entrypoint -c {{ include "stackstate.kafka.endpoint" . }},{{ include "stackgraph.hbase.waitfor" . }},{{ template "common.fullname.short" . }}-initializer:1618 -t 300
{{- else }}
command:
  - sh
  - -c
  - |
    /entrypoint -c {{ include "stackstate.kafka.endpoint" . }},{{- .Release.Name }}-hbase-stackgraph:2182,{{ template "common.fullname.short" . }}-initializer:1618 -t 300
{{- end }}
image: "{{include "stackstate.wait.image.registry" .}}/{{ .Values.global.wait.image.repository }}:{{ .Values.global.wait.image.tag }}"
imagePullPolicy: {{ .Values.global.wait.image.pullPolicy | quote }}
{{- end -}}

{{- define "stackstate.api.deployment.container.main" -}}
args:
{{- include "stackstate.service.args" . }}
- -startRole
- api
envFrom:
  - secretRef:
      name: {{ include "stackstate.secret.name.license" .  }}
  - secretRef:
      name: {{ include "stackstate.secret.name.apiKey" .  }}
      optional: true
  - secretRef:
      name: {{ include "stackstate.secret.name.auth" .  }}
  {{- if .Values.stackstate.email.enabled }}
  - secretRef:
      name: {{ include "stackstate.secret.name.email" .  }}
  {{- end }}
env:
{{- $profileResources := include "common.sizing.stackstate.api.resources" . | trim -}}
{{- $evaluatedResources := .Values.stackstate.components.api.resources }}
{{- if $profileResources }}
{{- $profileResourcesDict := fromYaml $profileResources }}
{{- $evaluatedResources = $profileResourcesDict }}
{{- end }}
{{- $profileEnv := include "common.sizing.stackstate.api.env" . | trim -}}
{{- $evaluatedExtraEnvOpen := .Values.stackstate.components.api.extraEnv.open }}
{{- if $profileEnv }}
{{- $profileEnvDict := fromYaml $profileEnv }}
{{- $evaluatedExtraEnvOpen = $profileEnvDict }}
{{- end }}
{{- $evaluatedExtraEnv := dict "open" $evaluatedExtraEnvOpen "secret" .Values.stackstate.components.api.extraEnv.secret }}
{{- $profileBaseMemory := include "common.sizing.stackstate.api.baseMemoryConsumption" . | trim -}}
{{- $profileJavaHeapFraction := include "common.sizing.stackstate.api.javaHeapMemoryFraction" . | trim -}}
{{- $evaluatedSizing := .Values.stackstate.components.api.sizing }}
{{- if $profileBaseMemory }}
{{- $evaluatedSizing = merge (dict) (dict "baseMemoryConsumption" $profileBaseMemory) $evaluatedSizing }}
{{- end }}
{{- if $profileJavaHeapFraction }}
{{- $evaluatedSizing = merge (dict) (dict "javaHeapMemoryFraction" $profileJavaHeapFraction) $evaluatedSizing }}
{{- end }}
{{- $baseConfig := omit .Values.stackstate.components.api "resources" "extraEnv" "sizing" }}
{{- $componentConfigWithResources := merge $baseConfig (dict "resources" $evaluatedResources "extraEnv" $evaluatedExtraEnv "sizing" $evaluatedSizing) -}}
{{- $serviceConfig := dict "ServiceName" "api" "ServiceConfig" $componentConfigWithResources }}
{{- $imageTagConfig := dict "ImageTag" .Values.stackstate.components.api.image.tag }}
{{- include "stackstate.service.envvars" (merge (dict) . $serviceConfig) }}
{{- include "stackstate.baseurls.envvars" . }}
{{- include "stackstate.metricstore.envvar" . }}
{{ if .Values.stackstate.components.api.yaml.maxSizeLimit }}
- name: CONFIG_FORCE_stackstate_yaml_codePointLimit
  value: "{{ include "stackstate.server.yaml.maxSizeLimit" . }}"
{{ end }}
- name: ELASTICSEARCH_URI
  value: "http://{{ include "stackstate.es.endpoint" . }}"
- name: KAFKA_BROKERS
  value: {{ include "stackstate.kafka.endpoint" . | quote }}
- name: PROMETHEUS_WRITE_ENDPOINT
  value: http://{{ include "stackstate.vmagent.endpoint" . }}:8429/api/v1/write
- name: HADOOP_USER_NAME
  value: nobody
- name: ZOOKEEPER_QUORUM
  value: {{ include "stackgraph.zookeeper.endpoint" . | quote }}
{{ if .Values.stackstate.k8sAuthorization.enabled }}
{{ end }}
  # Keep for 1.5 hours, allowing timetravel and having users in analytics keep their results cached
- name: CONFIG_FORCE_stackgraph_vertex_cache_expireAfterSeconds
  value: "5400"
{{- include "stackstate.component.envsFromExistingSecrets" .Values.stackstate.components.all.envsFromExistingSecrets }}
{{- include "stackstate.component.envsFromExistingSecrets" .Values.stackstate.components.api.envsFromExistingSecrets }}
image: "{{ include "stackstate.image.registry" (merge (dict) $serviceConfig .) }}/{{ .Values.stackstate.components.api.image.repository }}{{ .Values.stackstate.components.all.image.repositorySuffix }}:{{ include "stackstate.server.image.tag" (merge (dict) $imageTagConfig .) }}"
imagePullPolicy: {{ default .Values.stackstate.components.all.image.pullPolicy .Values.stackstate.components.api.image.pullPolicy | quote }}
name: api
ports:
- containerPort: 1618
  name: health
- containerPort: 7070
  name: api
{{- if .Values.stackstate.instanceDebugApi.enabled }}
- containerPort: 7080
  name: instance
{{- end }}
{{- if .Values.stackstate.components.all.metrics.enabled }}
- containerPort: 9404
  name: metrics
{{- end }}
readinessProbe:
  httpGet:
    path: /readiness
    port: health
  initialDelaySeconds: 10
  timeoutSeconds: 5
livenessProbe:
  httpGet:
    path: /liveness
    port: health
  initialDelaySeconds: 60
  timeoutSeconds: 5
{{- with $evaluatedResources }}
resources:
  {{- toYaml . | nindent 2 }}
{{- end }}
volumeMounts:
{{- if eq .Values.stackstate.stackpacks.source "docker-image" }}
{{ include "stackstate.stackpacks.volumeMount" . }}
{{- end }}
{{- $deploymentMode := include "suse-observability.hbase.deploymentMode" . -}}
{{- if eq $deploymentMode "Mono" }}
{{ include "stackstate.stackpacks.local.volumeMount" . }}
{{- end }}
{{- include "stackstate.service.container.volumes" . }}
{{- if include "suse-observability.features.enabled" (dict "key" "storeTransactionLogsToPVC.enabled" "context" .) }}
{{ include "stackstate.service.transactionLog.volumeMount" . }}
{{- end }}
{{- end -}}

{{- define "stackstate.api.deployment" -}}
{{- $commonContainer := fromYaml (include "common.container" .) -}}
{{- $overrideContainer := fromYaml (include "stackstate.api.deployment.container.main" .) -}}
{{- $stsStackstateApiMainContainer := (merge $overrideContainer $commonContainer) -}}
{{- $overrideContainer := fromYaml (include "stackstate.api.deployment.container.init" .) -}}
{{- $stsStackstateApiInitContainer := (merge $overrideContainer $commonContainer) -}}
metadata:
  name: {{ template "common.fullname.short" . }}-api
  labels:
    app.kubernetes.io/component: api
    stackstate.com/connects-to-stackgraph: "true"
    stackstate.com/replicas: "1"
    {{- include "suse-observability.labels.global" . | nindent 4 }}
spec:
  replicas: {{ .Values.stackstate.components.api.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/component: api
  strategy:
{{- if eq (lower .Values.stackstate.components.all.deploymentStrategy.type) "recreatesingletonsonly" }}
    type: Recreate
{{- else }}
    {{- toYaml .Values.stackstate.components.all.deploymentStrategy | nindent 4 }}
{{- end }}
  template:
    metadata:
      annotations:
        {{- include "common.metrics.annotations" (dict "metrics" .Values.stackstate.components.all.metrics "port" "9404" "container_name" "api" "filter" .Values.stackstate.components.api.agentMetricsFilter) | indent 8 }}
        {{- include "stackstate.common.secret.checksum" . | nindent 8 }}
        {{- include "stackstate.license.secret.checksum" . | nindent 8 }}
        {{- include "stackstate.apiKey.secret.checksum" . | nindent 8 }}
        {{- include "stackstate.email.secret.checksum" . | nindent 8 }}
        {{- include "stackstate.auth.secret.checksum" . | nindent 8 }}
        {{- include "stackstate.api.secret.checksum" . | nindent 8 }}
        {{- include "stackstate.api.configmap.checksum" . | nindent 8 }}
        {{- include "stackstate.component.podExtraAnnotations" (merge (dict "Name" "api") .) }}
      labels:
        app.kubernetes.io/component: api
        stackstate.com/connects-to-stackgraph: "true"
        {{- include "suse-observability.labels.global" . | nindent 8 }}
    spec:
      serviceAccountName: {{ template "common.fullname.short" . }}-api
      {{- include "stackstate.image.pullSecret.name" (dict "context" $) | nindent 6 }}
      initContainers:
      {{- if eq .Values.stackstate.stackpacks.source "docker-image" }}
      - {{ include "stackstate.initContainer.stackpacks" . | nindent 8 }}
      {{- end }}
      - {{ toYaml $stsStackstateApiInitContainer | nindent 8 }}
      {{- if include "suse-observability.features.enabled" (dict "key" "storeTransactionLogsToPVC.enabled" "context" .) }}
      - {{ include "stackstate.initContainer.cleanTransactionLogsDirectory" . | nindent 8 }}
      {{- end }}
      containers:
      - {{ toYaml $stsStackstateApiMainContainer | nindent 8 }}
    {{- if or .Values.stackstate.components.all.nodeSelector .Values.stackstate.components.api.nodeSelector }}
      nodeSelector:
      {{- with .Values.stackstate.components.all.nodeSelector }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stackstate.components.api.nodeSelector }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- $affinity := include "suse-observability.global.affinity" (dict "componentAffinity" .Values.stackstate.components.api.affinity "allAffinity" .Values.stackstate.components.all.affinity "context" .) }}
    {{- if $affinity }}
      affinity:
        {{- $affinity | nindent 8 }}
    {{- end }}
    {{- if or .Values.stackstate.components.all.tolerations .Values.stackstate.components.api.tolerations }}
      tolerations:
      {{- with .Values.stackstate.components.all.tolerations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stackstate.components.api.tolerations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- if .Values.stackstate.components.all.securityContext.enabled }}
      securityContext: {{- omit .Values.stackstate.components.all.securityContext "enabled" | toYaml | nindent 8 }}
    {{- end }}
      volumes:
        {{- include "stackstate.service.pod.volumes" (dict "pod_name" "api" "root" . ) | nindent 8 }}
        {{- if include "suse-observability.features.enabled" (dict "key" "storeTransactionLogsToPVC.enabled" "context" .) }}
        {{- include "stackstate.service.transactionLog.volume" (dict "pod_name" "api" "root" . ) | nindent 8 }}
        {{- end }}
        {{- if eq .Values.stackstate.stackpacks.source "docker-image" }}
        {{ include "stackstate.stackpacks.volume" . | nindent 8 }}
        {{- end }}
{{- $deploymentMode := include "suse-observability.hbase.deploymentMode" . -}}
        {{- if eq $deploymentMode "Mono" }}
        {{ include "stackstate.stackpacks.local.volume" . | nindent 8 }}
        {{- end }}
{{- end -}}

{{- if include "suse-observability.features.enabled" (dict "key" "server.split" "context" .) }}
{{- $commonDeployment := fromYaml (include "common.deployment" .) -}}
{{- $apiDeployment := fromYaml (include "stackstate.api.deployment" .) -}}
{{- toYaml (merge $apiDeployment $commonDeployment) -}}
{{- end}}
