{{- define "stackstate.router.deployment.container.main" -}}
name: router
image: "{{ include "stackstate.router.image.registry" . }}/{{ .Values.stackstate.components.router.image.repository }}:{{ .Values.stackstate.components.router.image.tag }}"
imagePullPolicy: {{ default .Values.stackstate.components.all.image.pullPolicy .Values.stackstate.components.router.image.pullPolicy | quote }}
env:
{{- include "stackstate.common.envvars" . }}
{{- include "stackstate.router.envvars" . }}
{{- include "stackstate.component.envsFromExistingSecrets" .Values.stackstate.components.all.envsFromExistingSecrets }}
{{- include "stackstate.component.envsFromExistingSecrets" .Values.stackstate.components.router.envsFromExistingSecrets }}
ports:
- containerPort: 8080
  name: router
- containerPort: 8001
  name: admin
livenessProbe:
  httpGet:
    path: /ready
    port: admin
  initialDelaySeconds: 5
readinessProbe:
  httpGet:
    path: /ready
    port: admin
  initialDelaySeconds: 5
{{- $profileResources := include "common.sizing.stackstate.router.resources" . | trim }}
{{- if $profileResources }}
resources:
  {{- $profileResources | nindent 2 }}
{{- else if .Values.stackstate.components.router.resources }}
resources:
  {{- toYaml .Values.stackstate.components.router.resources | nindent 2 }}
{{- end }}
volumeMounts:
- mountPath: /etc/envoy
  name: config
- name: "router-mode"
  mountPath: /etc/envoy/dynamic
  readOnly: true
{{- end -}}

{{- define "stackstate.router.deployment" -}}
{{- $commonContainer := fromYaml (include "common.container" .) -}}
{{- $overrideContainer := fromYaml (include "stackstate.router.deployment.container.main" .) -}}
{{- $stsstackstateRouterMainContainer := (merge $overrideContainer $commonContainer) -}}
metadata:
  name: {{ template "common.fullname.short" . }}-router
  labels:
    app.kubernetes.io/component: router
    {{- include "suse-observability.labels.global" . | nindent 4 }}
spec:
  replicas: {{ .Values.stackstate.components.router.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/component: router
  strategy:
{{- if eq (lower .Values.stackstate.components.all.deploymentStrategy.type) "recreatesingletonsonly" }}
    type: RollingUpdate
{{- else }}
    {{- toYaml .Values.stackstate.components.all.deploymentStrategy | nindent 4 }}
{{- end }}
  template:
    metadata:
      annotations:
        {{- include "stackstate.router.configmap.checksum" . | nindent 8 }}
        {{- include "stackstate.component.podExtraAnnotations" (merge (dict "Name" "router") .) }}
      labels:
        app.kubernetes.io/component: router
        {{- include "suse-observability.labels.global" . | nindent 8 }}
    spec:
      serviceAccountName: {{ template "common.fullname.short" . }}-router
      {{- include "stackstate.image.pullSecret.name" (dict "context" $) | nindent 6 }}
      containers:
      - {{ toYaml $stsstackstateRouterMainContainer | nindent 8 }}
      volumes:
      - name: config
        configMap:
          name: {{ template "common.fullname.short" . }}-router
          items:
          - key: envoy.yaml
            path: envoy.yaml
      - name: router-mode
        configMap:
          name: {{ template "common.fullname.short" . }}-router-{{ .Values.stackstate.components.router.mode.status }}
    {{- if or .Values.stackstate.components.all.nodeSelector .Values.stackstate.components.router.nodeSelector }}
      nodeSelector:
      {{- with .Values.stackstate.components.all.nodeSelector }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stackstate.components.router.nodeSelector }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- $affinity := include "suse-observability.global.affinity" (dict "componentAffinity" .Values.stackstate.components.router.affinity "allAffinity" .Values.stackstate.components.all.affinity "context" .) }}
    {{- if $affinity }}
      affinity:
        {{- $affinity | nindent 8 }}
    {{- end }}
    {{- if or .Values.stackstate.components.all.tolerations .Values.stackstate.components.router.tolerations }}
      tolerations:
      {{- with .Values.stackstate.components.all.tolerations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stackstate.components.router.tolerations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- if .Values.stackstate.components.all.securityContext.enabled }}
      securityContext: {{- omit .Values.stackstate.components.all.securityContext "enabled" | toYaml | nindent 8 }}
    {{- end }}
{{- end -}}

{{- $commonDeployment := fromYaml (include "common.deployment" .) -}}
{{- $routerDeployment := fromYaml (include "stackstate.router.deployment" .) -}}
{{- toYaml (merge $routerDeployment $commonDeployment) -}}
