{{- define "stackstate.backup-config.secret" -}}
metadata:
  name: {{ template "common.fullname.short" . }}-backup-config
stringData:
  config: |
    minio:
      accessKey: {{ .Values.minio.accessKey | quote }}
      secretKey: {{ .Values.minio.secretKey | quote }}
    elasticsearch:
      snapshotRepository:
        accessKey: {{ .Values.minio.accessKey | quote }}
        secretKey: {{ .Values.minio.secretKey | quote }}
    clickhouse:
      username: {{ .Values.clickhouse.auth.username | quote }}
      password: {{ .Values.clickhouse.auth.password | quote }}
{{- end -}}

{{- if .Values.backup.enabled }}
{{- $commonSecret := fromYaml (include "common.secret" .) -}}
{{- $stackstateBackupSecret := fromYaml (include "stackstate.backup-config.secret" .) -}}
{{- toYaml (merge $stackstateBackupSecret $commonSecret) -}}
{{- end -}}
